<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Volos.Properties.Settings.CC_TEST_SQL_15_03_17_12_02_10RConnectionString" connectionString="Driver={SQL Server};description=WinCC 6.0;server=VMVER1PC\WINCC;uid=LOUKAS;pwd=123456;app=Microsoft® Visual Studio® 2013;wsid=VMVER1PC\WINCC;database=CC_TEST_SQL_15_03_17_12_02_10R" providerName="System.Data.Odbc" />
    <add name="Volos.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI;Data Source=VMVER1PC\WINCC;Password=123456;User ID=LOUKAS;Initial Catalog=CC_TEST_SQL_15_03_17_12_02_10R" providerName="System.Data.OleDb" />
    <add name="Volos.Properties.Settings.ConnectionString1" connectionString="Dsn=CC_TEST_SQL_15_03_17_12_02_10R;uid=LOUKAS;pwd=123456" providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
